header {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}


* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.box {
    background-color: lightgray;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:  20px;
}


div.box p {
    font-weight: bold;
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: hidden hidden solid solid;
    display: block;
    width: 200px;
    padding: 5px;
    font-size: 125%;
    float:  right;
}


#para1 {
    color: black;
    background-color: pink;
}


#para2 {
    color: white;
    background-color: maroon;
}


#para3 {
    color: black;
    background-color: gold;
}


.description {
    margin:  10px 10px 10px 10px;
    padding: 20px 10px 10px 10px;
    clear: right;
}


.row {
    width: 100%;
}


/* Desktop view 992px and above min=992px */
@media (min-width: 992px) {
    .col-desktop-1 {
        float:  left;
        width:  33%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Tablet view between 768px and 991px min=768px and max=991px */
@media (min-width: 768px) and (max-width: 991px) {
    .col-tablet-1, .col-tablet-2 {
        align-items: center;
        float: left;
    }
    .col-tablet-1 {
        width: 50%;
    }
    .col-tablet-2 {
        width: 100%;
    }
}
